{{define "title"}}About{{end}}
{{define "head"}}{{end}}
{{define "content"}}
<div class="container">
	<div class="page-header">
		<h1>{{template "title" .}}</h1>
	</div>
	<p>This project aims to be the easiest way to convert audio file into subtitles.</p>
	<p>If you have some questions please send me email to <a href="mailto:admin@example.com">admin@example.com</a></p>
	{{template "footer" .}}
</div>
{{end}}
{{define "foot"}}{{end}}